.header {
    width: 100%;
    margin: auto;
    max-width: 600px;
    text-align: center;
    background-color: #646464;
    color: #fffd7c;
    border-radius: 10px;
    border: 2px solid #646464;
    box-shadow: 0px 0px 10px 3px rgba(10, 10, 10, 1);
}

.header__subtitle {
    color: #d1d1d1;
    font-weight: 400;
}