.header {
    width: 100%;
    margin: auto;
    max-width: 600px;
    text-align: center;
    background-color: #646464;
    color: #fffd7c;
    border-radius: 10px;
    border: 2px solid #646464;
}

.header__paragraph {
    color: #d1d1d1;
}