.form {
    margin-top: 10px;
    width: 100%;
}

.form__fieldset {
    background-color: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(10, 10, 10, 1);
}

.form__legend {
    background-color: #fffd7c;
    padding: 5px;
    border-radius: 5px;
}

.form__field {
    padding: 5px;
    max-width: 300px;
    width: 100%;
}

.form__field--secondary {
    width: auto;
}

.form__field:invalid {
    background-color: #ffa9a9;
}

.form__labelText {
    display: inline-block;
    max-width: 150px;
    width: 100%;
}

.form__button {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #fffd7c;
    border-radius: 10px;
    border: 2px solid #2e2e2e;
    font-weight: bold;
}

.form__button:active {
    background-color: #ccc900;
}