.form__fieldset {
    background-color: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}

.form__legend {
    background-color: #fffd7c;
    padding: 5px;
    border-radius: 5px;
}

.form__field {
    padding: 5px;
    max-width: 300px;
    width: 100%;
}

.form__field--secondary {
    width: auto;
}

.form__field:invalid {
    background-color: #ffa9a9;
}

.form__labelText {
    display: inline-block;
    max-width: 150px;
    width: 100%;
}

.form__button {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #fffd7c;
    border-radius: 10px;
    border: 2px solid #2e2e2e;
    font-weight: bold;
}

.form__button:active {
    background-color: #ccc900;
}

.form__resultContainer {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    background-color: #646464;
    border-radius: 10px;
    border: 2px solid #646464;
    font-weight: bold;
    color: #fffd7c;
    text-align: center;
    font-size: larger;
}