html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-image: url(./converter-background.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}